*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.body{
    background-color: #0E0E0E; 

}
.container{
    background-color: #FFFFFF !important;
    margin-right: 40px;
    margin-left: 40px;

    height: 100%;
}
.nav{
    display: flex;
    height: 48px;
    background-color: #4F4D53;
}
.logo,.search{
    flex-basis: 50%;
    position: relative;
    top:10px;
}
.logo-img{
position: relative;
left:230px;
    text-align: right;
}
.search-area{
    background-color: black;
}
.content-1{
    background-image: url("media/img_hero.jpg");
    /* background-repeat: no-repeat; */
    height:500px;
    margin-bottom: 100px;
    width: 100%;
}

.welcome{
    text-align: center;
    position: relative;
    top: 200px;
    right:100px;
    
  overflow: hidden;
   
   color: #4F4D53;
 
}
.imgs{
    position: relative;
    top:250px;
    margin-left: 300px;
}
.img-1{
    border-radius: 50%;
    margin-right: 100px;
}
.content-2{
    text-align: center;
    position: relative;
    top: 100px;
    margin-bottom: 100px;
    width: 100%;
}
.content-3{
    text-align: center;
    margin-bottom: 100px;
    width: 100%;
}
h1,h2,h3{
    font-family: 'Roboto Black';
}
h1{
    
    font-size: 100px;
    font-weight: 900;
    color:#4F4D53;
  
}
h2{
    
    font-size: 64px;
    font-weight: 900;
    color:#E8BE02;
}
h4{
    font-size: 14px;
    font-weight: 400;
    color:#FFFFFF;
    font-family: 'Roboto Regular';
}
p{
    /* font-family:  'Roboto', sans-serif; */
    font-size: 20px;
    font-weight: 400;
    color:#4F4D53;
}
hr{
    height:12px;
    background-color:#E8BE02;
    border:none
}
footer{
    display: inline-block;
    height:320px;
    background-color: #4F4D53;
    width: 100%;
}
.footer-1{
    display: inline-block;
    position: relative;
    top:50px;
    left: 300px;
    margin-right: 150px;
}
.footer-1 h3{
color:#E8BE02;
}
.img{
    width: 100px;
    border-radius: 50%;
}
.img1{
    display: inline-block;
}
.name{
color:#E8BE02;  
}
